/* fonts */

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Open Sans";

  src: local("Open Sans"), local("OpenSans-Regular"),
  url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Open Sans";

  src: local("Open Sans Light"), local("OpenSans-Light"),
  url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Gilroy";

  src: local("Gilroy Light"), local("Gilroy-Light"),
  url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Gilroy";

  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
  url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

/* Variables */

:root {
  --black-300: #363636;
  /* black */
  --black-400: #000000;
  --black-opacity-015: rgba(0, 0, 0, 0.15);
  --black-opacity-03: rgba(0, 0, 0, 0.3);
  --black-opacity-04: rgba(0, 0, 0, 0.4);
  --black-opacity-06: rgba(0, 0, 0, 0.6);
  /* green */
  --green-400: #91c92f;
  --grey-350: #f2f2f2;
  --grey-400: #e5e5e5;
  --grey-450: #eaeaea;
  /* pink */
  --pink-300: #f6dada;
  /* white */
  --white-400: #ffffff;
  --white-opacity-03: rgba(255, 255, 255, 0.3);
  --white-opacity-07: rgba(255, 255, 255, 0.7);
  --yellow-200: #f7e296;
  --yellow-200-opacity-05: rgba(247, 226, 150, 0.5);
  --yellow-500: #f0c52e;
  --yellow-500-opacity-03: rgba(240, 197, 46, 0.3);
  --yellow-500-opacity-05: rgba(240, 197, 46, 0.5);
  /* yellow */
  --yellow-550: #ffc600;
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 15px;
  font-family: "Open Sans", Arial, sans-serif;
  color: var(--black-400);
}

img {
  max-width: 100%;
  height: auto;
}

/* blank.html */

.unavailable-content {
  min-height: 400px;
}

/* layout-positioner */

.layout-positioner {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

/* visually-hidden */

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

/* Link */

.link {
  color: var(--black-400);
  text-decoration: none;
}

/* Link-button */

.link-button {
  position: relative;
  z-index: 1;

  display: inline-block;

  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.link-button::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 8px;

  background-color: var(--yellow-500);

  transition: all 0.3s ease-in;
}

.link-button:hover::before {
  top: 0;

  height: 100%;
}

/* Title */

.title {
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  font-family: "Gilroy", Arial, sans-serif;
}

/* Header */

.header {
  position: relative;

  margin: 21px 0 0;
  padding: 21px 0 0;
}

.header-container {
  padding: 28px 60px 166px;

  background-color: var(--yellow-200);
}

.header__logo {
  position: absolute;
  top: 0;
  left: 60px;
}

.header-top {
  display: grid;
  align-items: center;
  margin: 0 0 34px;

  line-height: 20px;

  gap: 40px;
  grid-template-columns: 1fr 1fr;
}

.search-form {
  position: relative;
}

.search-form::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 0;

  width: 16px;
  height: 16px;

  background-image: url(../img/decorative/icon_search.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-form:focus-within::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 356px;
  height: 2px;

  background-color: var(--black-400);
}

.search-form__input {
  width: 356px;
  padding: 15px 15px 15px 38px;

  background-color: transparent;
  border: none;
  outline: none;
}

.search-form__input:focus + .search-form__button,
.search-form__button:active {
  visibility: visible;
}

.search-form__input::placeholder {
  color: var(--black-opacity-03);
}

.search-form__input:hover::placeholder {
  color: var(--black-opacity-06);
}

.search-form__button {
  display: inline-block;
  margin: 0 0 0 -4px;
  padding: 15px 17px;

  font-weight: 300;
  vertical-align: bottom;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid var(--black-400);
  visibility: hidden;
}

.search-form__button:hover {
  color: var(--white-400);

  background-color: var(--black-400);
}

.search-form__button:active {
  color: var(--white-opacity-03);

  background-color: var(--black-400);
}

.header-top__user-menu {
  display: flex;
  flex-wrap: wrap;
}

.header-top__link {
  position: relative;

  padding: 0 0 0 24px;
}

.header-top__link:hover {
  opacity: 0.6;
}

.header-top__link:active {
  opacity: 0.3;
}

.header-top__link::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
}

.header-top__link_type_enter {
  margin: 0 216px 0 0;
}

.header-top__link_type_enter::before {
  width: 13px;
  height: 14px;

  background-image: url(../img/decorative/icon_user.svg);
}

.header-top__link_type_compare {
  margin: 0 41px 0 0;
}

.header-top__link_type_compare::before {
  width: 13px;
  height: 14px;

  background-image: url(../img/decorative/icon_chart.svg);
}

.header-top__link_type_cart::before {
  width: 10px;
  height: 10px;

  background-image: url(../img/decorative/icon_cart.svg);
}

.header-bottom {
  display: grid;

  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  gap: 10px;
  grid-template-columns: 530px 1fr;
}

.header-bottom__link:hover {
  color: var(--black-opacity-06);
}

.header-bottom__link:active {
  color: var(--black-opacity-03);
}

.catalog-menu-container .header-bottom__link {
  position: relative;

  padding: 0 38px 0 0;
}

.catalog-menu-container .header-bottom__link::after {
  content: "";
  position: absolute;
  right: 0;

  width: 22px;
  height: 22px;

  background-image: url(../img/decorative/icon_plus.svg);
}

.catalog-menu {
  display: grid;
  justify-content: space-between;
  max-width: 550px;
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: none;
  letter-spacing: normal;

  grid-template-columns: 240px 1fr 1fr;
}

.catalog-menu {
  display: none;
}

.catalog-menu__item:nth-child(3) {
  justify-self: end;
}

.catalog-menu__item:last-child {
  grid-row: 3/4;
}

.catalog-menu__link {
  display: inline-block;
  padding: 12px 10px;
}

.main-navigation__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-navigation__item:first-child {
  margin: 0 35px 0 0;
}

.main-navigation__item:nth-child(2) {
  margin: 0 103px 0 0;
}

/* Main */

/* Promo-products */

.main__promo-sliders {
  position: relative;

  margin: -147px 0 0;
  padding: 110px 0 113px 0;
}

.promo-sliders {
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo-slider {
  display: none;
  padding: 0 47px 0;

  gap: 40px;
  grid-template-columns: 1fr 1fr;
}

.promo-slider_current {
  display: grid;
}

.promo-slider__image {
  position: absolute;
}

.promo-slider:first-child .promo-slider__image {
  bottom: 117px;
  left: 91px;
}

.promo-slider:nth-child(2) .promo-slider__image {
  bottom: 78px;
  left: 117px;
}

.promo-slider:last-child .promo-slider__image {
  top: 99px;
  left: 31px;
}

.promo-slider__desc {
  position: relative;
}

.promo-slider__desc::before {
  content: "";
  position: absolute;
  top: -60px;
  left: 0;

  width: 100px;
  height: 7px;

  background-color: var(--white-400);
}

.promo-slider__desc::after {
  content: "";
  position: absolute;
  top: -68px;
  right: -6px;

  background-repeat: no-repeat;
}

.promo-slider:first-child .promo-slider__desc::after {
  width: 182px;
  height: 170px;

  background-image: url(../img/decorative/01.svg);
}

.promo-slider:nth-child(2) .promo-slider__desc::after {
  width: 212px;
  height: 170px;

  background-image: url(../img/decorative/02.svg);
}

.promo-slider:last-child .promo-slider__desc::after {
  width: 212px;
  height: 170px;

  background-image: url(../img/decorative/03.svg);
}

.promo-slider__title {
  position: relative;
  z-index: 1;

  margin: 0 0 25px;
}

.promo-slider__text {
  max-width: 478px;
  margin: 0 0 51px;

  line-height: 20px;
}

.promo-slider__buttons-container {
  display: flex;
  flex-wrap: wrap;
}

.promo-slider__link-button {
  margin: 0 180px 0 0;
  padding: 9px 42px;
}

.promo-slider__link-button:active {
  color: var(--black-opacity-03);
}

.slider-controls {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-controls__item:not(:last-child) {
  margin: 0 18px 0 0;
}

.slider-controls__button {
  display: inline-block;
  width: 12px;
  height: 12px;
  padding: 0;

  background-color: transparent;
  border: 1px solid var(--black-400);
  border-radius: 60%;
}

.slider-controls__button-current {
  box-shadow: inset 0 0 0 2px var(--white-400),
  inset 0 0 0 3px var(--black-400);
}

.slider-table tbody {
  display: flex;
  flex-wrap: wrap;
  width: 444px;
  margin: 50px 0 0;

  font-family: "Gilroy", Arial, sans-serif;
  letter-spacing: 0.2em;
}

.slider-table__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.slider-table__item:not(:last-child) {
  margin: 0 60px 0 0;
}

.slider-table__value {
  margin: 0 0 15px;

  font-size: 36px;
  line-height: 42px;
}


.slider-table__name {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.main__catalog-products {
  margin: 0 0 72px;
}

.catalog-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-products__item {
  width: 160px;
}

.catalog-products__link:hover .catalog-products__image-container,
.catalog-products__link:active .catalog-products__image-container {
  background-color: var(--yellow-500);
}

.catalog-products__link:active .catalog-products__figcaption,
.catalog-products__link:active .catalog-products__image {
  opacity: 0.3;
}

.catalog-products__figure {
  margin: 0;
}

.catalog-products__image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  min-height: 160px;
  margin: 0 0 38px;

  background-color: var(--yellow-200);
}

.catalog-products__figcaption {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", Arial, sans-serif;
  letter-spacing: 0.05em;
}

.catalog-products__item:nth-child(2) .catalog-products__figcaption {
  letter-spacing: 0;
}

.catalog-products__item:nth-child(4) .catalog-products__figcaption {
  letter-spacing: -0.01em;
}

.main__services-sliders {
  position: relative;

  margin: 0 0 90px;
  padding: 86px 0 0;

  background-color: var(--grey-400);
}

.main__services-sliders::before {
  content: "";
  position: absolute;
  top: 0;

  width: 100%;
  height: 115px;

  background-color: var(--white-400);
}

.services-sliders__container {
  display: grid;
  min-height: 317px;

  gap: 116px;
  grid-template-columns: 285px 1fr;
}

.services-sliders__nav {
  position: relative;

  margin: 0;
  padding: 9px 8px 0 0;

  list-style: none;
}

.services-sliders__nav::after {
  content: "";
  position: absolute;
  top: -71px;
  right: 0;

  width: 8px;
  height: 320px;

  background-color: var(--black-400);
}

.services-sliders__nav-content:not(:last-child) {
  margin: 0 0 21px;
}

.services-sliders__button {
  width: 160px;
  min-height: 40px;
}

.services-sliders__nav-content-current {
  background-color: var(--black-400);
}

.services-sliders__nav-content-current .services-sliders__button {
  color: var(--yellow-200);
}

.services-sliders__nav-content-current .link-button::before {
  display: none;
}

.services-sliders__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-slider {
  position: relative;

  display: none;
}

.services-slider_current {
  display: block;
}

.services-slider::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
}

.services-slider:first-child::after {
  width: 136px;
  height: 164px;

  background-image: url(../img/decorative/delivery.svg);
}

.services-slider:nth-child(2)::after {
  width: 171px;
  height: 195px;

  background-image: url(../img/decorative/warranty.svg);
}

.services-slider:last-child::after {
  width: 156px;
  height: 188px;

  background-image: url(../img/decorative/credit.svg);
}

.services-slider__title {
  max-width: 575px;
  margin: 0 0 40px;

  letter-spacing: 0.2em;
}

.services-slider__text {
  max-width: 575px;

  line-height: 30px;
  letter-spacing: 0.1em;
}

.main__manufacturers {
  margin: 0 0 90px;
}

.manufacturers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.manufacturers__link {
  display: block;
}

.manufacturers__link:hover {
  width: 260px;
  height: 100px;

  background-repeat: no-repeat;
}

.manufacturers__item:first-child .manufacturers__link:hover {
  background-image: url(../img/manufacturers_logo-1_1.png);
}

.manufacturers__item:nth-child(2) .manufacturers__link:hover {
  background-image: url(../img/manufacturers_logo-2_2.png);
}

.manufacturers__item:nth-child(3) .manufacturers__link:hover {
  background-image: url(../img/manufacturers_logo-3_3.png);
}

.manufacturers__item:last-child .manufacturers__link:hover {
  background-image: url(../img/manufacturers_logo-4_4.png);
}

.manufacturers__image {
  vertical-align: bottom;
}

.main__info-container {
  display: grid;
  margin: 0 0 77px;

  gap: 127px;
  grid-template-columns: 473px 560px;
}

.info__title {
  margin: 0 0 42px;

  letter-spacing: 0.2em;
}

.info__text {
  margin: 0 0 40px;

  line-height: 28px;
}

.info__text:nth-of-type(2) {
  margin: 0 0 60px;
}

.about-us,
.contacts {
  position: relative;

  padding: 57px 0 0;
}

.about-us::before,
.contacts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: var(--black-400);
}

.about-us__list {
  margin: 0 0 68px;
  padding: 0;

  list-style: none;
}

.about-us__item {
  position: relative;

  padding: 0 0 0 32px;

  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  font-family: "Gilroy", Arial, sans-serif;
}

.about-us__item:not(:last-child) {
  margin: 0 0 15px;
}

.about-us__item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;

  width: 3px;
  height: 3px;

  border: 2px solid var(--grey-400);
  border-radius: 50%;
}

.about-us__link-button {
  padding: 9px 18px 9px 24px;
}

.contacts__image-link {
  display: block;
  margin: 0 0 75px;
}

.contacts__image {
  vertical-align: bottom;
}

.contacts__link-button {
  padding: 9px 39px;
}

.footer {
  min-height: 213px;
  padding: 46px 0 65px;

  background-color: var(--black-300);
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 53px;
  margin: 0 0 41px;
}

.footer-top__image-logo {
  align-self: flex-end;
}

.footer-top__user-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: flex-start;
  min-width: 323px;
}

.footer-top-user-menu__link {
  position: relative;

  padding: 0 0 0 24px;

  line-height: 20px;
  color: var(--white-opacity-07);
}

.footer-top-user-menu__link:hover {
  color: var(--white-400);
}

.footer-top-user-menu__link:active {
  color: var(--white-opacity-03);
}

.footer-top-user-menu__link::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;

  background-repeat: no-repeat;
}

.footer-top-user-menu__link:hover::before {
  opacity: 0.6;
}

.footer-top-user-menu__link:active::before {
  opacity: 0.3;
}

.footer-top-user-menu__link:first-child::before {
  width: 13px;
  height: 14px;

  background-image: url(../img/decorative/icon_user_yellow.svg);
}

.footer-top-user-menu__link:nth-child(2)::before {
  width: 14px;
  height: 14px;

  background-image: url(../img/decorative/icon_chart_yellow.svg);
}

.footer-top-user-menu__link:last-child::before {
  width: 10px;
  height: 10px;

  background-image: url(../img/decorative/icon_cart_yellow.svg);
}

.footer-middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: 48px;
  margin: 0 0 40px;
}

.footer-middle__address {
  margin: 0;
}

.footer-middle__address,
.footer-middle__tel {
  width: 330px;

  line-height: 20px;
  color: var(--white-400);
}

.footer-middle__tel {
  text-align: right;
}

.footer-middle__shop-menu {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-middle-shop-menu__item:not(:last-child) {
  margin: 0 33px 0 0;
}

.footer-middle-shop-menu__link {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", Arial, sans-serif;
  vertical-align: top;
  color: var(--white-400);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.footer-middle-shop-menu__link:hover {
  opacity: 0.6;
}

.footer-middle-shop-menu__link:active {
  opacity: 0.3;
}

.footer-bottom {
  position: relative;

  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
}

.footer-bottom::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;

  width: 80px;
  height: 8px;

  background-color: var(--yellow-550);
}

.footer-bottom__social-menu {
  display: flex;
  justify-content: space-between;
  min-width: 136px;
  margin: 0;
  padding: 0;

  list-style: none;

  grid-column: 2/3;
  justify-self: center;
}

.footer-bottom-social-menu__link {
  display: block;
  width: 32px;
  height: 32px;

  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.footer-bottom-social-menu__link:hover {
  opacity: 1;
}

.footer-bottom-social-menu__link:active {
  opacity: 0.6;
}

.footer-bottom-social-menu__item:first-child .footer-bottom-social-menu__link {
  background-image: url(../img/decorative/icon_facebook.svg);
}

.footer-bottom-social-menu__item:nth-child(2) .footer-bottom-social-menu__link {
  background-image: url(../img/decorative/icon_instagram.svg);
}

.footer-bottom-social-menu__item:last-child .footer-bottom-social-menu__link {
  background-image: url(../img/decorative/icon_twitter.svg);
}

.footer-bottom__developers-link {
  display: block;
  width: 27px;
  height: 34px;

  background-image: url(../img/decorative/logo-html.svg);
  background-repeat: no-repeat;
  background-position: 0 0;

  justify-self: end;
}

.footer-bottom__developers-link:hover {
  opacity: 0.6;
}

.footer-bottom__developers-link:active {
  opacity: 0.3;
}

/* Modal */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;

  display: none;
  margin: auto;

  box-shadow: 0 10px 16px var(--black-opacity-015);
  transform: translateX(-50%) translateY(-50%);
}

.modal-show {
  display: block;

  animation: opacity 1.5s;
}

/* Modal-close */

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 55px;
  height: 55px;

  background-color: var(--yellow-500-opacity-05);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close:hover {
  background-color: var(--yellow-500);
}

.modal-close:active {
  background-color: var(--yellow-500-opacity-03);
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 25px;
  right: 14px;

  width: 26px;
  height: 4px;

  background-color: var(--white-opacity-07);
  border-radius: 1px;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

/* Modal-feedback */

.modal-feedback {
  z-index: 1;

  width: 760px;
  padding: 92px 100px 60px;

  background-color: var(--white-400);
}

.feedback-form {
  display: grid;

  column-gap: 40px;

  grid-template-columns: 1fr 1fr;
}

.feedback-form__item-text,
.feedback-form__button {
  grid-column: 1/3;
}

.feedback-form__item-contacts {
  margin: 0 0 32px;
}

.feedback-form label {
  display: block;
  margin: 0 0 10px;

  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", Arial, sans-serif;
}

.feedback-form__input,
.feedback-form__textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 16px 20px;

  font-size: 14px;
  line-height: 19px;

  background-color: var(--grey-350);
  border: none;
  border-radius: 2px;
}

.feedback-form__input:hover,
.feedback-form__textarea:hover {
  background-color: var(--grey-450);
}

.feedback-form__input:focus,
.feedback-form__textarea:focus {
  background-color: transparent;
  outline: 2px solid var(--yellow-200);
}

.feedback-form__input::placeholder,
.feedback-form__textarea::placeholder {
  color: var(--black-opacity-04);
}

.feedback-form__item-text {
  margin: 0 0 45px;
}

.feedback-form__textarea {
  min-height: 167px;
}

.feedback-form__button {
  padding: 9px 35px;

  justify-self: start;
}

.feedback-form__button::before {
  background-color: var(--yellow-200);
}

/* Modal-map */

.modal-map {
  width: 960px;
  min-height: 560px;
}
